########### DOCKER ###########
dockerData

########### BACKEND ###########
backend/node_modules
backend/dist
backend/prisma/seed.js

########### FRONTEND ###########

frontend/node_modules
frontend/dist

########### MAIN ###########
.env
.DS_Store
